body {
    text-align: center;
}
.btn {
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 2rem
}
.btn-container {
    display: flex;
    justify-content: center;
}
.red {
    background-color: rgb(161, 58, 100);
}
.green {
    background-color:  rgb(69, 156, 162);
}
.orange {
    background-color: chocolate;
}
.blue {
    background-color: rgb(104, 96, 217);
}

.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: green;
}